/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --pink: #AA4465;
  --blue: #3581b8;
  --yellow: #F1BB87;
  --cyan: #DDFFF7;
  --blue-green: #93E1D8;
  --white: #F4F1EC;
  --brown: #422800;
}

body {
  color: var(--brown);
  background-color: var(--white);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 7.2rem 0 0 30vw;
  background-color: var(--white);
}

@media (max-width: 768px) {
  main {
    padding: 0 0 0 0;
  }
}

.new-tweet, #tweets-container > .tweet {
  transition: 0.25s;
}

.new-tweet:hover, #tweets-container > .tweet:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.3s;
}