nav {
  position:fixed;
  height: 7.2rem;
  width: 100%;
  background-color: var(--blue);
  padding-top: 2.9rem;
  padding-left: 1.5em;
  color: var(--white);
  display: flex;
  padding-right: 1.5em;
  justify-content: space-between;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  z-index: 99;
}  

nav .nav-logo {
  font-family: 'Bungee', cursive;
}  

nav div {
  display: flex;
  flex-direction: column;
}

nav i {
  align-self: center;
  color: var(--pink);
}

/* Styling for icon bounce */
.bounce {
  position: relative;
  -moz-animation: bounce 0.9s infinite linear;
  -o-animation: bounce 0.9s infinite linear;
  -webkit-animation: bounce 0.9s infinite linear;
  animation: bounce 0.9s infinite linear;
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}