.new-tweet {
  border: 1px solid lightgray;
  margin: 2rem 2.4rem 0 2.4rem;
  padding: 1rem 1.6rem 1.4rem 1.6rem;
  border-radius: 15px 50px 30px 5px;
}

.new-tweet > h2 {
  margin: 0rem 0rem 0.8rem 0rem;
}

.tweet-text-box {
  position: relative;
}

.new-tweet .counter {
  align-self: center;
  font-size: 17px;
  font-family: 'Bungee', cursive;
  position: absolute;
  right: 0;
  padding-right: 1.3rem;
}

#tweet-text {
  height: 5.2rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-right: 4rem;
  font-size: 22px;
  outline: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #3581b8;
  resize: none;
  background-color: var(--white);
}

#tweet-text:placeholder-shown {
  font-style: italic;
}

#tweet-text:focus {
  border-bottom: 3px solid #3581b8;
}

.new-tweet button {
  background-color: var(--blue);
  padding: 0 18px;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: var(--brown) 4px 4px 0 0;
  margin-top: 1rem;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-family: 'Bungee', cursive;
  line-height: 2.4rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.new-tweet button:hover {
  background-color: var(--pink);
}

.new-tweet button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .new-tweet button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.rainbow_text_animated:hover {
  background: linear-gradient(to right, var(--pink), var(--blue), var(--yellow), var(--blue), var(--pink));
  /* -webkit-background-clip: text; */
  background-clip: text;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}