#tweets-container {
  margin: 0rem 3rem 0rem 3rem;
}

.tweet {
  border-radius: 5px 15px 22px 5px;
  border: 1px solid lightgray;
  padding: 1rem 1.8rem 1rem 1.8rem;
  margin-top:1.4rem;
  word-wrap: break-word;
}

.tweet > header, footer {
  display: flex;
  justify-content: flex-end;
}

.tweet > header {
  padding-bottom: 0rem;
  align-items: center;
}

.tweet img {
  margin: 0rem 0.7rem 0.5rem 0rem;
}

#handle {
  margin-left: auto;
  color: darkgray;
}

.tweet > p {
  margin: 0;
  padding: 0rem 0rem;
}

.tweet > footer {
  padding-top: 0.6rem;
  border-top: 2px solid black;
}

.tweet footer > span {
  font-size: 1.2rem;
  margin-right: auto;
}

.tweet footer > i {
  font-size: 1.3rem;
  transition: 0.3s;
  margin-left: 0.7rem;
}

.tweet footer > i:hover {
  color: var(--pink);
  transition: 0.3s;
}